<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="wrapper">
            <p class="descriptionTitle">Name: {{name}}</p>
            <p class="description">GitHub Profile: {{githubLink}}</p>
        </div>
    </div>
    {{>footer}}
</body>

</html>